
.cardList {
  display:block;
  flex-direction: column; /* ✅ esto es lo importante */
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.card {
  display: flex;
  flex-direction: row; /* imagen y contenido en fila */
  align-items: flex-start;
  background-color: #FDEC6F;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 1000px;
  margin: 20px auto;
  font-family:'Times New Roman', Times, serif;
  gap: 20px; /* espacio entre imagen y texto */
}

.profilepic img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.cardcontent {
  flex: 1; /* para que el texto use el resto del espacio */
}

.cardcontent h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
  text-align: left;
}

.cardcontent p {
  font-size: 1em;
  color: #555;
  text-align: justify;
  line-height: 1.4;
}